<app-bedroom-details *ngIf=selected_bedroom [selected_bedroom]='selected_bedroom' [participants]='participants'></app-bedroom-details>

<h2>Bedrooms</h2>

<div class="flex-container" 
fxLayout="row" 
fxLayout.xs="column"
fxLayoutAlign="center center"
fxLayoutAlign.xs="start">

<div class="flex-item" fxFlex *ngFor="let bedroom of bedrooms">
  <div *ngIf="bedroom.free_capacity>0; else full" (click)=onSelectBedroom(bedroom)>
    <mat-card class="module free">
      <h4>{{bedroom.name}} <div>{{bedroom.count}}/{{bedroom.capacity}}</div> </h4>     
    </mat-card>
  </div>
  <ng-template #full>
    <mat-card class="full module" (click)=onSelectBedroom(bedroom)>
      <h4>{{bedroom.name}} <div>full</div> </h4>     
    </mat-card>
  </ng-template>
</div>
