  <h2>Add Participant</h2>

  <div class="container" >
    
    <mat-card>
      <mat-card-title>  General Information </mat-card-title>  
      <mat-form-field>
        <input [(ngModel)] = "newParticipant.participant_id" matInput placeholder="ID" type="number" name="ID" required>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)] = "newParticipant.name" matInput placeholder="Name" type="text" name="name" required>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)] = "newParticipant.surname" matInput placeholder="Surname" type="text" name="surname">
      </mat-form-field>

      <mat-form-field>
        <input type="text" placeholder="Gender" [(ngModel)]="newParticipant.gender" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="autoGender" name="gender"> 

        <mat-autocomplete #autoGender="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let gender of genders | Search: newParticipant.gender" value="{{gender}}">
            {{gender}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)] = "newParticipant.dharma_name" matInput placeholder="Dharma Name" type="text" matInput name="dharma_name">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)] = "newParticipant.birth_date" matInput placeholder="Birthdate" name="birth_date" required>
      </mat-form-field>
    </mat-card>

    <mat-card>
      <mat-card-title>  Seminar Organisation </mat-card-title> 

      <mat-form-field>
        <input type="text" placeholder="Previous Seminars" [(ngModel)]="newParticipant.previous_seminars" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto_previous_seminars" name="previous_seminars"> 

        <mat-autocomplete #auto_previous_seminars="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let item of previous_seminars | Search: newParticipant.previous_seminars" value="{{item}}">
            {{item}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input type="text" placeholder="Class" [(ngModel)]="newParticipant.class" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto_class" name="class"> 

        <mat-autocomplete #auto_class="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let item of classes | Search: newParticipant.class" value="{{item}}">
            {{item}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input type="text" placeholder="Workgroup" [(ngModel)]="newParticipant.workgroup" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto_workgroup" name="workgroup"> 

        <mat-autocomplete #auto_workgroup="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let item of workgroups | Search: newParticipant.workgroup" value="{{item}}">
            {{item}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input type="text" placeholder="Bedroom" [(ngModel)]="newParticipant.bedroom" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" name="bedroom"> 

        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let bedroom of bedrooms | Search: newParticipant.bedroom" value={{bedroom.name}}>
            {{bedroom.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> 
    </mat-card>

    <mat-card>

      <mat-checkbox [(ngModel)] = "newParticipant.tho_bo_tat_gioi" value='false' matInput name="tho_bo_tat_gioi">Tho Bo Tat Gioi</mat-checkbox>

      <mat-checkbox [(ngModel)] = "newParticipant.tho_ngu_gioi" value='false' matInput name="tho_bo_tat_gioi">Tho Ngu Gioi</mat-checkbox>

    </mat-card>


    <mat-card>
      <mat-card-title>  Contacts </mat-card-title>  
      <mat-form-field>
        <input [(ngModel)] = "newParticipant.telnr" matInput placeholder="Telefon" name="telnr">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)] = "newParticipant.email" type="email" matInput placeholder="E-Mail" name="email">
      </mat-form-field>
    </mat-card>

    <mat-card>
      <mat-card-title>  Finance </mat-card-title>  
      <mat-form-field>
        <input [(ngModel)] = "newParticipant.fees" type="number" matInput placeholder="Seminar Fees" name="fees">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)] = "newParticipant.semiar_donation" type="number" matInput placeholder="Semiar Donation" name="semiar_donation">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)] = "newParticipant.monk_donation" type="number" matInput placeholder="Monk Donation" name="monk_donation">
      </mat-form-field>
    </mat-card>

    <mat-card>
      <mat-card-title>  Arrival </mat-card-title>  
      <mat-form-field>
        <input [(ngModel)] = "newParticipant.arriaval_time" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" matInput placeholder="Time of arrival" name="arriaval_time">
        <owl-date-time [pickerMode]="'dialog'" #dt2></owl-date-time>
      </mat-form-field>

      <mat-form-field>
        <input type="text" placeholder="Means of transportation" [(ngModel)]="newParticipant.arriaval_means_of_transport" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="autoMeansAr" name="arriaval_means_of_transport"> 

        <mat-autocomplete #autoMeansAr="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let means_of_transport of means_of_transports | Search: newParticipant.arriaval_means_of_transport" value="{{means_of_transport}}">
            {{means_of_transport}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)] = "newParticipant.arriaval_flightnumber" type="text" matInput placeholder="flightnumber" name="arriaval_flightnumber">
      </mat-form-field>
    </mat-card>

    <mat-card>
      <mat-card-title>  Departure </mat-card-title>  
      <mat-form-field>
        <input [(ngModel)] = "newParticipant.departure_time" matInput placeholder="Time of departure" name="departure_time" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3">
        <owl-date-time [pickerMode]="'dialog'" #dt3></owl-date-time>
      </mat-form-field>

      <mat-form-field>
        <input type="text" placeholder="Means of transportation" [(ngModel)]="newParticipant.departure_means_of_transport" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="autoMeansDe" name="departure_means_of_transport"> 

        <mat-autocomplete #autoMeansDe="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let means_of_transport of means_of_transports | Search: newParticipant.departure_means_of_transport" value="{{means_of_transport}}">
            {{means_of_transport}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)] = "newParticipant.departure_flightnumber" type="text" matInput placeholder="flightnumber" name="departure_flightnumber">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-card-title>  Address </mat-card-title>  
      <mat-form-field>
        <input [(ngModel)] = "newParticipant.address_street" type="text" matInput placeholder="Street" name="address_street">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)] = "newParticipant.address_number" type="text" matInput placeholder="Number" name="address_number">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)] = "newParticipant.address_city" type="text" matInput placeholder="City" name="address_city">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)] = "newParticipant.address_zip_code" type="text" matInput placeholder="Zip-Code" name="address_zip_code">
      </mat-form-field>

<!--       <mat-form-field>
        <input [(ngModel)] = "newParticipant.address_country" type="text" matInput placeholder="Country" name="address_country">
      </mat-form-field> -->

      <mat-form-field>
        <input type="text" placeholder="Country" [(ngModel)]="newParticipant.address_country" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto_country" name="Country"> 

        <mat-autocomplete #auto_country="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let item of countries | Search: newParticipant.address_country" value="{{item}}">
            {{item}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-card>


    

    <mat-card>

      <mat-checkbox [(ngModel)] = "newParticipant.recieved_nametag" value='false' matInput name="recieved_nametag">received Nametag</mat-checkbox>

    </mat-card>

    <button type="submit" mat-raised-button color="primary" (click)="addParticipant();" >Submit</button>

  </div>