<h2>Actions</h2>

<div class="flex-container" 
fxLayout="row" 
fxLayout.xs="column"
fxLayoutAlign="center center"
fxLayoutAlign.xs="start">

<div class="flex-item" fxFlex>
 <mat-card routerLink="/add-participant">
   <h4>			
    <mat-icon>add_circle_outline</mat-icon>
    <div>Add Participant</div> 
  </h4>
</mat-card>
</div>
<!-- <div class="flex-item" fxFlex>
 <mat-card routerLink="/bedrooms">
   <h4>			
    <mat-icon>hotel</mat-icon>
    <div>Bedrooms</div> 
  </h4>
</mat-card>
</div> -->
<div class="flex-item" fxFlex>
 <mat-card routerLink="/participants">
   <h4>			
    <mat-icon>group</mat-icon>
    <div>Participants</div> 
  </h4>
</mat-card>
</div>

</div>

<h2>Statistics</h2>

<div class="flex-container" 
fxLayout="row" 
fxLayout.xs="column"
fxLayoutAlign="center center"
fxLayoutAlign.xs="start">

<div class="flex-item" fxFlex>
 <a href="http://192.168.1.7:3000/api/csv/participants" download="test.csv">
  <mat-card>
   <h4>			
    <mat-icon>group</mat-icon>
    <div>{{participant_count}}</div> 
    <div>Registered</div> 
  </h4>
</mat-card>
</a>
</div>
<div class="flex-item" fxFlex>
      <a href="http://192.168.1.7:3000/api/csv/donations" download="test.csv">

 <mat-card>
   <h4>			
    <mat-icon>how_to_reg</mat-icon>
    <div>{{current_participant_count}}</div> 

    <div>Current</div> 
  </h4>
</mat-card>
</a>
</div>
<div class="flex-item" fxFlex>
  <mat-card>
   <h4>			
    <mat-icon>assignment_ind</mat-icon>
    <div>{{to_be_printed}}</div> 
    <div>Open Nametags</div> 
  </h4>     
</mat-card>
</div>
<div class="flex-item" fxFlex>
  <mat-card>
   <h4>			
    <mat-icon>wc</mat-icon>
    <div>female: {{female_count}}</div>
    <div>male: {{male_count}}</div>  
  </h4>
</mat-card>
</div>
<div class="flex-item" fxFlex>
 <a href="http://192.168.1.7:3000/api/csv/class/1" download="test.csv">
  <mat-card>
   <h4>			
    <mat-icon>videogame_asset</mat-icon>
    <div>{{thieu_count}}</div> 
    <div>Thieu</div> 
  </h4>     
</mat-card>
</a>
</div>
<div class="flex-item" fxFlex>
 <a href="http://192.168.1.7:3000/api/csv/class/0" download="test.csv">
  <mat-card>
   <h4>			
    <mat-icon>child_friendly</mat-icon>
    <div>{{ov_count}}</div> 
    <div>Oanh Vu</div> 
  </h4>     
</mat-card>
</a>
</div>
</div>

<h2>Donations</h2>

<div class="flex-container" 
fxLayout="row" 
fxLayout.xs="column"
fxLayoutAlign="center center"
fxLayoutAlign.xs="start">

<div class="flex-item" fxFlex>
    <a href="http://192.168.1.7:3000/api/csv/" download="test.csv">

  <mat-card>
    <h4>      
      <div>{{fees}}€</div> 
      <div>học phí</div> 
    </h4>
  </mat-card>
</a>
</div>
<div class="flex-item" fxFlex>
    <a href="http://192.168.1.7:3000/api/csv/" download="test.csv">

  <mat-card>
    <h4>      
      <div>{{semiar_donation}}€</div> 

      <div>Khóa Học</div> 
    </h4>
  </mat-card>
</a>
</div>
<div class="flex-item" fxFlex>
  <a href="http://192.168.1.7:3000/api/csv/" download="test.csv">
    <mat-card>
      <h4>      
        <div>{{monk_donation}}€</div> 
        <div>Trai Tăng</div> 
      </h4>     
    </mat-card>
  </a>
</div>
</div>


