<h2>Participants</h2>
<div class="container" >

	<mat-card>

		<mat-form-field>
			<input [(ngModel)] = "search" matInput placeholder="Query" type="listSearch">
		</mat-form-field>

		<mat-form-field>
		  <mat-select [(ngModel)] = "type" placeholder="type" >
		    <mat-option value="all">All</mat-option>
		    <mat-option value="id">Id</mat-option>
		    <mat-option value="nametag">Nametag</mat-option>
		  </mat-select>
		</mat-form-field>

	</mat-card>
</div>

<div class="container">
	<mat-card>

		<table class="participants table mat-table">
			<thead>
	        	<tr>
	        		<th>ID</th>
	            	<th>Name</th>
	            	<th>Surname</th>
	            	<th>Dharma-Name</th>
	            	<th>Class</th>
	            	<th>Workgroup</th>
	            	<th>Action</th>
	        	</tr>
	        <tbody>
				<tr *ngFor="let participant of participants | Search: search : type" routerLink="/participant-detail/{{participant._id}}">
					<td>{{participant.participant_id}}</td>
					<td>{{participant.name}}</td>
					<td>{{participant.surname}}</td>
					<td>{{participant.dharma_name}}</td>
					<td>{{participant.class}}</td>
					<td>{{participant.workgroup}}</td>

					<td><button class="btn btn-danger pull-right" title="delete participant"
					(click)="delete(participant)">x</button></td>
				</tr>
			</tbody>
		</table>
	</mat-card>
</div>