<h2>Bedroom {{selected_bedroom.name | uppercase}}</h2>

<div class="flex-container" 
     fxLayout="row" 
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">

  	<div class="flex-item" fxFlex>
	    <mat-card>
			<h4>			
				<mat-icon>home</mat-icon>
				<div>House: {{selected_bedroom.house}}</div> 
			</h4>
		</mat-card>
  	</div>
 	<div class="flex-item" fxFlex>
	    <mat-card>
			<h4>			
				<mat-icon>add_location</mat-icon>
				<div>Free Capacity: {{selected_bedroom.free_capacity}}</div> 
			</h4>
		</mat-card>
  	</div>
  	<div class="flex-item" fxFlex>
		<mat-card>
			<h4>			
				<mat-icon>hotel</mat-icon>
				<div>Current Count: {{selected_bedroom.count}}</div> 
			</h4>     
		</mat-card>
  	</div>
</div>

<mat-card>
	<table *ngIf='participants.length>0' class="table mat-table">
		<thead>
	    	<tr>
	    		<th>ID</th>
	        	<th>Name</th>
	        	<th>Surname</th>
	        	<th>Dharma-Name</th>
	        	<th>Gender</th>
	        	<th>Age</th>

	    	</tr>
	    <tbody>
			<tr *ngFor="let participant of participants" routerLink="/participant-detail/{{participant._id}}">
				<td>{{participant.participant_id}}</td>
				<td>{{participant.name}}</td>
				<td>{{participant.surname}}</td>
				<td>{{participant.dharma_name}}</td>
				<td>{{participant.gender}}</td>
				<td>{{participant.age}}</td>
		</tbody>
	</table>
</mat-card>
