	<mat-toolbar>
		<button mat-button color="accent" routerLink="/dashboard">
			<mat-icon>insert_chart_outlined</mat-icon>Dashboard
		</button> 
		<button mat-button color="accent" routerLink="/participants">
			<mat-icon>group</mat-icon>Participants
		</button> 
		<button mat-button color="accent" routerLink="/add-participant">
			<mat-icon>add</mat-icon>add Participant
		</button> 
		<button mat-button color="accent" routerLink="/bedrooms">
			<mat-icon>hotel</mat-icon>Bedrooms
		</button> 
		<button mat-button color="accent" routerLink="/speed">
			<mat-icon>add</mat-icon>Quick Add
		</button> 
	</mat-toolbar>

	<div id="content-body">
		<router-outlet></router-outlet>
	</div>







