<mat-toolbar>
    <ul class="nav navbar-nav">
      <li> <a routerLink="/dashboard"> Ghi Danh</a> </li>
      <li> <a routerLink="/participants">Participants</a> </li>
      <li> <a routerLink="/add-participant">add Participant</a> </li>
      <li> <a routerLink="/bedrooms">Bedrooms</a> </li>
      <li> <a routerLink="/speed">Quick Add</a> </li>
    </ul>
</mat-toolbar>

<div id="content-body">
  <router-outlet></router-outlet>
</div>

<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>  
		<mat-nav-list>
			<mat-list-item routerLink="/participants">Participants </mat-list-item>
			<mat-list-item routerLink="/add-participant">add Participant </mat-list-item>
			<mat-list-item routerLink="/bedrooms">Bedrooms </mat-list-item>
		</mat-nav-list>
	</mat-sidenav>
		<mat-sidenav-content>
  		<router-outlet></router-outlet>
		<app-messages></app-messages>
	</mat-sidenav-content>
</mat-sidenav-container> -->






