<h2>Quick Add</h2>

<form (submit)="addParticipant()">
	<mat-card>
		<mat-form-field>
				<input [(ngModel)] = "newParticipant.participant_id" matInput placeholder="ID" type="number" name="ID" required>
		</mat-form-field>
<!-- 		<mat-form-field>
			<mat-select [(ngModel)]="newParticipant.bedroom" placeholder="Bedroom" name='bedroom'>
				<mat-option *ngFor="let bedroom of bedrooms" value={{bedroom._id}}>
					{{bedroom.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>  -->

		<mat-form-field>
			<input type="text" placeholder="Pick one" [(ngModel)]="newParticipant.bedroom" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">

			<mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
				<mat-option *ngFor="let bedroom of bedrooms | Search: newParticipant.bedroom" value={{bedroom.name}}>
					{{bedroom.name}}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field> 
	</mat-card>
</form>

<button type="submit" mat-raised-button color="primary" (click)="addParticipant();" >Submit</button>
