
<div class="flex-container" 
     fxLayout="row" 
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">

  	<div class="flex-item" fxFlex>
	    <mat-card>
			<h4>			
				<mat-icon>group</mat-icon>
				<div>Registed: {{participant_count}}</div> 
			</h4>
		</mat-card>
  	</div>
 	<div class="flex-item" fxFlex>
	    <mat-card>
			<h4>			
				<mat-icon>how_to_reg</mat-icon>
				<div>Current: {{current_participant_count}}</div> 
			</h4>
		</mat-card>
  	</div>
  	<div class="flex-item" fxFlex>
		<mat-card>
			<h4>			
				<mat-icon>assignment_ind</mat-icon>
				<div>Open Nametags: {{participant_count}}-{{printed}}</div> 
			</h4>     
		</mat-card>
  	</div>
</div>

<app-bedrooms> </app-bedrooms>

