/* You can add global styles to this file, and also import other style files */
@import "/assets/bootstrap-3.3.7-dist/css/bootstrap.min.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


body{
	height: 100%;
	margin: 1em;
}
html{
	height: 100%;
}
mat-card{
	margin-bottom: 1em;
}

/*

feather (light blue): #77C9D4;
marinne (light green): #57BC90;
forest (green): #015249;
sleek grey: #A5A5AF;

*/